.cover {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  margin: 0 auto 92px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-width: 100%;
    min-height: 480px;
    margin:  0 0 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    min-width: 100%;
    min-height: 200px;
    margin: 0 0 64px;
    background-size: cover;
  }
}
