.cover__overlay {
  min-width: 100%;
  height: 100%;
  text-decoration: none;
  padding-top: 245px;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
  text-decoration: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    padding-top: 195px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
    padding-top: 115px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__overlay {
    padding-top: 33px;
  }
}