.cover__title {
  max-width: 560px;
  margin: 0 auto 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-family: 'Inter';
  font-style: normal;
  line-height: 106%;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 109%;
}
}